<% var about%>
<section class="web">
    <div class="container">
        <div class="web__head">
            <a class="back__link" href="/en">Бош саҳифа</a>
            <a class="back__town" >Реклама</a>
        </div>

        <div class="web__inner">
            <div class="web__box">
                <h4 class="web__title web__name">Сайт ҳақида</h4>
                <% if(about[0]) {%>
                <p class="web__text text"><a href="/en">Tahlil24.uz</a> 
                    <%= about[0].title.eng%>
                  <p class="web__text text">
                      <% about[0].description.eng%>
                  </p>
                  <% }%>
            </div>
            <div class="web__box">
                <h4 class="web__title web__name"><a href="/en">Tahlil24.uz</a> cайти материалларидан фойдаланиш
                    шартлари</h4>
                    <%if(about[0]) {%>
                <p class="web__text text"><%- about[0].conditions.eng%></p>
                    <% }%>
            </div>
        </div>
    </div>
</section>