

        <section class="call">
            <div class="container">
                <div class="web__head">
                    <a class="back__link" href="/en">Main menu</a>
                    <a class="back__town" >Contact us</a>
                </div>

                <div class="call__content">
                    <h3 class="web__name">Contact us</h3>
                    <p class="call__text">Do you have any suggestions or comments on the site? Article for "Tahlil24.uz"
                        or do you want to send a message? Or yourself
                        Do you want to report any incident you witnessed? We are ready to cooperate with you
                        link.</p>

                    <span class="web__name">Send a message</span>
                    <!-- O'zgatirildi -->
                    <form class=" form__action" method="POST" action="/contact">
                        <div class="input__body">
                            <div class="input__name">
                                <label class="form-label">
                                    <input name="fullname" minlength="7" class="input__contact" type="text" placeholder="Fullname" required>
                                </label>
                            </div>

                            <div class="input__name input_contact">
                                <label class="form-label">
                                    <input name="email" minlength="7" class="input__contact" type="email" placeholder="Email" required>
                                </label>
                            </div>
                            <div class="input__name input_call">
                                <label class="form-label">
                                    <input name="phone" minlength="7" class="input__call" type="tel"  placeholder="Phone number" required>

                                </label>
                            </div>
                        </div>
                        <span class="web__name">Message content</span>
                        <p>
                            <textarea name="message" minlength="7" required class="text__area" rows="6"></textarea>
                        </p>
                        <div class="send__icon">
                            <input class="send__input" type="submit" name="send" required value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </section>


