

        <section class="call">
            <div class="container">
                <div class="web__head">
                    <a class="back__link" href="/">Бош саҳифа</a>
                    <a class="back__town" >Алоқа</a>
                </div>

                <div class="call__content">
                    <h3 class="web__name">Алоқа</h3>
                    <p class="call__text">Сайт фаолияти юзасидан таклиф ёки танқидларингиз борми? «Tahlil24.uz»га мақола
                        ёки хабар юбормоқчимисиз? Ёки оъзингиз
                        гувоҳ боълган қандайдир ҳодиса ҳақида маълум қилмоқчимисиз? Ҳамкорликка тайёрмиз, биз билан
                        боғланинг.</p>

                    <span class="web__name">Хабар жўнатиш</span>
                    <!-- O'zgatirildi -->
                    <form class=" form__action" method="POST" action="/contact">
                        <div class="input__body">
                            <div class="input__name">
                                <label class="form-label">
                                    <input name="fullname" class="input__contact" type="text" placeholder="Ф.И.Ш.*">
                                </label>
                            </div>

                            <div class="input__name input_contact">
                                <label class="form-label">
                                    <input name="email" class="input__contact" type="email" placeholder="Эл.почта">
                                </label>
                            </div>
                            <div class="input__name input_call">
                                <label class="form-label">
                                    <input name="phone" class="input__call" type="tel"  placeholder="Телефон рақам">

                                </label>
                            </div>
                        </div>
                        <span class="web__name">Хабар мазмуни</span>
                        <p>
                            <textarea name="message" required class="text__area" rows="6"></textarea>
                        </p>
                        <div class="send__icon">
                            <input class="send__input" type="submit" name="send" required value="Жўнатиш">
                        </div>
                    </form>
                </div>
            </div>
        </section>


