

        <section class="call">
            <div class="container">
                <div class="web__head">
                    <a class="back__link" href="/">Бош саҳифа</a>
                    <a class="back__town" >Реклама</a>
                </div>

                <div class="call__content">
                    <h3 class="web__name">Реклама</h3>
                    <p class="call__text"><a class="tahlil__link" href="/">Tahlil24.uz</a> интернет нашри ўз олдига
                        қўйган мақсадлари баён қилинади. Имкони
                        бўлса, статистик маълумотларни (мижозга
                        нега айнан ушбу нашрда реклама бериши кераклигини етказиш учун) келтириш керак.</p>

                    <span class="web__name">Реклама учун прайс-лист</span>
                    <form class="form__action" action="/sendrec" method="POST">
                        <label class="form-laber file-label">
                            <span class="label__input" for="file">Tahlil24.uzda reklama.pdf</span>
                            <input type="file" name="file" id="file" class="inputfile" />
                        </label>
                    </form>
                    <div class="social__bottom">
                        <span class="call__span">Реклама бериш ва қўшимча саволлар учун алоқа:</span>
                        <a class="span__link" href="#">info@tahlil24.uz</a>
                    </div>
                    <span class="call__span">Телеграм орқали алоқа:</span>
                    <a class="span__link" href="<%= linkd[0].tg%>">tahlil24_ads</a>

                </div>
            </div>
        </section>


