
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <title>Adminstrator</title>
    <meta
      content="Responsive admin theme build on top of Bootstrap 4"
      name="description"
    />
    <meta content="Themesdesign" name="author" />
    <link rel="shortcut icon" href="/admin/assets/images/favicon.ico" />

    <link
      href="/admin/assets/css/bootstrap.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="/admin/assets/css/metismenu.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="/admin/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <% var menu%>
    <% var user%>
    <% if(menu[0].menu) {%>
    <link href="/admin/assets/css/style.css" rel="stylesheet" type="text/css" />
    <% }else {%>
    <link
      href="/admin/assets/css/style2.css"
      rel="stylesheet"
      type="text/css"
    />
    <% }%>
  </head>
  <body>
    <!-- Begin page -->
    <div id="wrapper">
      <!-- Top Bar Start -->
      <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
          <a href="/dashboard" class="logo">
            <span class="logo-light">
              <i class="mdi mdi-camera-control"></i> Tahlil24-admin
            </span>
            <span class="logo-sm">
              <i class="mdi mdi-camera-control"></i>
            </span>
          </a>
        </div>

        <nav class="navbar-custom">
          <ul class="navbar-right list-inline float-right mb-0">
           

            <!-- full screen -->
            <li
              class="
                dropdown
                notification-list
                list-inline-item
                d-none d-md-inline-block
              "
            >
              <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                <i class="mdi mdi-arrow-expand-all noti-icon"></i>
              </a>
            </li>

            <li class="dropdown notification-list list-inline-item">
              <div class="dropdown notification-list nav-pro-img">
                <a
                  class="dropdown-toggle nav-link arrow-none nav-user"
                  data-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-haspopup="false"
                  aria-expanded="false"
                >
                  <img
                    src="/admin/assets/images/users/user-4.jpg"
                    alt="user"
                    class="rounded-circle"
                  />
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                  <!-- item-->
                  
                  <%if(user.role === 103){%>
                  <% if(user) {%>
                  <a class="dropdown-item" href="/user/search/<%= user.id  %> "
                    ><i class="mdi mdi-account-circle"></i> Profile</a
                  >
                  <% }%>
                  <% }%>
                  <%if(user.role === 103){%>
                  <a class="dropdown-item" href="/create/user"
                  ><i class="mdi mdi-account-multiple-plus-outline"></i> Add user</a
                ><% }%>
                  <a class="dropdown-item text-danger" href="/api/auth/logout"
                    ><i class="mdi mdi-login"></i> Logout</a
                  >
                </div>
              </div>
            </li>
          </ul>

          <ul class="list-inline menu-left mb-0">
            <li class="float-left">
              <button class="button-menu-mobile open-left waves-effect">
                <i class="mdi mdi-menu"></i>
              </button>
            </li>
            <li class="d-none d-md-inline-block">
              <form action="/news/all/search" class="app-search">
                <div class="form-group mb-0">
                  <input
                    type="search"
                    name="name"
                    class="form-control"
                    placeholder="Saytdan izlash..."
                    autocomplete="off"
                  />
                  <button type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Top Bar End -->

      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu">
        <div class="slimscroll-menu" id="remove-scroll">
          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
              <li class="menu-title">Menu</li>
              <li>
                <a href="/dashboard" class="waves-effect">
                  <i class="icon-accelerator"></i> <span> Dashboard </span>
                </a>
              </li>
              
              <li>
                <a href="/category" class="waves-effect">
                  <i class="fas fa-list"></i> <span> Kategoriyalar </span>
                </a>
              </li>
              <li>
                <a href="javascript:void(0);" class="waves-effect"><i class="icon-paper-sheet"></i><span> Yangiliklar <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                <ul class="submenu">
                    <li><a href="/news/uz">Uzbek</a></li>
                    <li><a href="/news/en">English</a></li>
                    <li><a href="/news/ru">Русский</a></li>
                   
                </ul>
            </li>
            <li>
              <a href="javascript:void(0);" class="waves-effect"><i class="fas fa-film"></i><span> Video yangiliklar <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span> </span></a>
              <ul class="submenu">
                  <li><a href="/videonews/uz">Uzbek</a></li>
                  <li><a href="/videonews/en">English</a></li>
                  <li><a href="/videonews/ru">Русский</a></li>
              </ul>
          </li>
              <li>
                <a href="/news/actual" class="waves-effect">
                  <i class="fab fa-hotjar"></i>
                  <span> Dolzarb xabarlar </span>
                </a>
              </li>
              
              <%if(user.role === 103){%>
              <li>
                <a href="/contact" class="waves-effect">
                  <i class="fas fa-envelope"></i> <span> Murojatlar </span>
                </a>
              </li>
              <li>
                <a href="/about" class="waves-effect">
                  <i class="fas fa-clipboard"></i> <span> Biz haqimizda </span>
                </a>
              </li>
              <li>
                <a href="/links" class="waves-effect">
                  <i class="fas fa-share-square"></i> <span> Linklar </span>
                </a>
              </li>
              <li>
                <a href="/reclame" class="waves-effect">
                  <i class="fas fa-pen-alt"></i> <span> Reklama </span>
                </a>
              </li>
              <li>
                <a href="/sendrec" class="waves-effect">
                  <i class="fas fa-sms"></i> <span> Reklama murjaatlari </span>
                </a>
              </li>
              <% }%>
              <% if(!menu[0].menu) {%>
              <li>
                <a href="/menu/<%= menu[0]._id%>" class="waves-effect">
                  <i class="fas fa-cloud-sun"></i> <span> Kunduzgi Rejim </span>
                </a>
              </li>
              <% }else {%>
              <li>
                <a href="/menu/<%= menu[0]._id%>" class="waves-effect">
                  <i class="fas fa-cloud-moon"></i> <span> Tungi Rejim </span>
                </a>
              </li>
              <% }%>
            </ul>
          </div>
          <!-- Sidebar -->
          <div class="clearfix"></div>
        </div>
        <!-- Sidebar -left -->
      </div>
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container-fluid"><%- body %></div>
          <!-- container-fluid -->
        </div>
        <!-- content -->
      </div>
      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->
    </div>

    <!-- jQuery  -->
    <script src="/admin/assets/js/jquery.min.js"></script>
    <script src="/admin/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/metismenu.min.js"></script>
    <script src="/admin/assets/js/jquery.slimscroll.js"></script>
    <script src="/admin/assets/js/waves.min.js"></script>

    <script src="/admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/admin/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/admin/plugins/datatables/jszip.min.js"></script>
    <script src="/admin/plugins/datatables/pdfmake.min.js"></script>
    <script src="/admin/plugins/datatables/vfs_fonts.js"></script>
    <script src="/admin/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/admin/plugins/datatables/buttons.print.min.js"></script>
    <script src="/admin/plugins/datatables/buttons.colVis.min.js"></script>
    <script src="/admin/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/admin/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <script src="/admin/assets/pages/datatables.init.js"></script>



    <!-- App js -->
    <script src="/admin/plugins/tinymce/tinymce.min.js"></script>
    <script src="/admin/assets/pages/lightbox.js"></script>
    <script src="/admin/plugins/dropzone/dist/dropzone.js"></script>
    <script src="/admin/assets/js/app.js"></script>
   
  </body>
</html>
