

        <section class="call">
            <div class="container">
                <div class="web__head">
                    <a class="back__link" href="/ru">Бош саҳифа</a>
                    <a class="back__town" >Реклама</a>
                </div>

                <div class="call__content">
                    <h3 class="web__name">Реклама</h3>
                    <p class="call__text"><a class="tahlil__link" href="/ru">Tahlil24.uz</a> Интернет-издание
                        Цели поставлены. Имкони
                        если есть, статистическая информация (заказчику
                        чтобы точно передать, почему он должен рекламироваться в этой публикации).</p>

                    <span class="web__name">Прейскурант на рекламу</span>
                    <form class="form__action" action="/sendrec" method="POST">
                        <label class="form-laber file-label">
                            <span class="label__input" for="file">Tahlil24.uz reklama.pdf</span>
                            <input type="file" name="file" id="file" class="inputfile" />
                        </label>
                    </form>
                    <div class="social__bottom">
                        <span class="call__span">Свяжитесь с нами для рекламы и дополнительных вопросов:</span>
                        <a class="span__link" href="#">info@tahlil24.uz</a>
                    </div>
                    <span class="call__span">Связь телеграммой:</span>
                    <a class="span__link" href="<%= links[0].tg%>">tahlil24_ads</a>

                </div>
            </div>
        </section>


